:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 20px;
  --space-5: 22px;
  --space-6: 32px;
  --space-7: 36px;
  --space-8: 40px;

  --note-max-width: 340px;
  --card-max-width: 640px;
  --card-max-height: 400px;
  --card-aspect: 5 / 4;
}
